<% title t('.page_title') %>

<div class="govuk-width-container">
  <%= step_header %>

  <main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= error_summary %>

        <%= step_form @form_object do |f| %>
          <%= f.gov_uk_date_field :conditional_end_date %>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="conditions not ended">
                <%= t ".conditions_not_ended_title" %>
              </span>
            </summary>
            <div class="govuk-details__text">
              <%= t ".conditions_not_ended_html" %>
            </div>
          </details>

          <%= f.continue_button %>
        <% end %>
      </div>
    </div>

  </main>
</div>
