<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_date_field :conditional_end_date, form_group_classes: 'app-util--compact-form-group' %>

      <%= render partial: 'steps/shared/approx_date_checkbox', locals: {
        form: f, attribute: :approximate_conditional_end_date
      } %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="conditions not ended">
            <%=t '.details.title' %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <%=t '.details.body_html' %>
        </div>
      </details>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
