<% title t('.page_title') %>
<% track_transaction name: 'Conviction check completed', category: 'Completed checks', dimensions: { spent: 'yes' } %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your conviction was spent on <span class="nowrap"><%= I18n.l(@presenter.expiry_date) %></span>
          </h1>
          <div class="govuk-panel__body">
            The following information will help you work out if you need to tell people about this conviction.
          </div>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
          What this result means
        </h2>

        <p class="govuk-body">
          Based on what you’ve told us, this conviction and any
          <a class="govuk-link" rel="external" href="https://www.gov.uk/guidance/rehabilitation-periods">rehabilitation
            period</a> is now spent.
        </p>

        <% if @presenter.conviction_type.custodial_sentence? %>
          <p class="govuk-body">
            This result is correct if you served your sentence in full as the court ordered you to. The conviction might not be
            spent if you did not stick to the terms of your sentence.
          </p>
        <% end %>

        <div class="govuk-inset-text">
          The result you’ve been given is for guidance only. Find out <a class="govuk-link" href="#disclaimer">how to use this information</a> before deciding whether or not to tell people about your caution or conviction.
        </div>

        <%= render partial: 'steps/check/results/shared/meaning' %>

        <%= render partial: 'steps/check/results/shared/summary', locals: { result: @presenter } %>

        <%= render partial: 'steps/check/results/shared/disclaimer' %>

        <%= render partial: 'steps/check/results/shared/feedback' %>
      </div>
    </div>
  </main>
</div>
