<% title t('.page_title') %>
<% track_transaction name: 'Conviction check completed', category: 'Completed checks', dimensions: { spent: 'no' } %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your conviction will be spent on <span class="nowrap"><%= I18n.l(@presenter.expiry_date) %></span>
          </h1>
          <div class="govuk-panel__body">
            The following information will help you work out if you need to tell people about this conviction.
          </div>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
          What this result means
        </h2>

        <p class="govuk-body">
          Based on what you’ve told us, this conviction and any
          <a class="govuk-link" rel="external" href="https://www.gov.uk/guidance/rehabilitation-periods">rehabilitation
            period</a> will be spent on the given date.
        </p>

        <%= render partial: 'steps/check/results/shared/meaning' %>

        <%= render partial: 'steps/check/results/shared/guidance' %>

        <%= render partial: 'steps/check/results/shared/motoring' if @presenter.conviction_type.motoring? %>

        <%= render partial: 'steps/check/results/shared/summary', locals: { result: @presenter } %>

        <%= render partial: 'steps/check/results/shared/disclaimer' %>

        <%= render partial: 'steps/check/results/shared/feedback' %>
      </div>
    </div>
  </main>
</div>
