<% title t('.page_title') %>
<% track_transaction name: 'Conviction check completed', category: 'Completed checks', dimensions: { spent: 'indefinite' } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        This conviction is not spent
      </h1>
      <div class="govuk-panel__body">
        This conviction is not spent and will stay in place until another order is made to change or end it.
      </div>
    </div>

    <p class="govuk-body">
      The conviction will appear on every type of
      <a class="govuk-link" rel="external" href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#background-checks">criminal
        record check</a>.
    </p>

    <%= render partial: 'steps/check/results/shared/meaning' %>

    <%= render partial: 'steps/check/results/shared/motoring' if @presenter.conviction_type.motoring? %>

    <%= render partial: 'steps/check/results/shared/summary', locals: { result: @presenter } %>

    <%= render partial: 'steps/check/results/shared/disclaimer' %>

    <%= render partial: 'steps/check/results/shared/feedback' %>
  </div>
</div>
