<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>
    <%= step_subsection %>

    <%= step_form @form_object, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_date_field :motoring_disqualification_end_date, form_group_classes: 'app-util--compact-form-group' %>

      <%= render partial: 'steps/shared/new_approx_date_checkbox', locals: {
        form: f, attribute: :approximate_motoring_disqualification_end_date
      } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
