<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <span class="govuk-caption-xl">
      <%= t @form_object.conviction_subtype, scope: [:shared, :subsection], default: '' %>
    </span>


    <%= step_form @form_object do |f| %>
      <%= f.govuk_date_field :motoring_disqualification_end_date, form_group_classes: 'app-util--compact-form-group' %>

      <%= render partial: 'steps/shared/approx_date_checkbox', locals: {
        form: f, attribute: :approximate_motoring_disqualification_end_date
      } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
