<% title 'About this trial' %>

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= error_summary %>

        <h1 class="govuk-heading-xl">About this trial</h1>

        <p class="govuk-body-l">
          The Ministry of Justice’s digital team is looking at ways to improve the justice experience for ex-offenders.
        </p>

        <h2 class="govuk-heading-m">
          What we’ve been doing
        </h2>

        <p class="govuk-body">
          We’ve started building an online service that helps young people work out when their convictions become spent,
          and whether they need to tell people (such as employers or colleges) about their past convictions.
        </p>

        <p class="govuk-body">
          <strong><%= service_name -%></strong> gives people the exact date on which their caution or conviction becomes
          spent, along with guidance on whether or not they need to disclose it.
        </p>

        <p class="govuk-body">
          More copy TBD...
        </p>

        <%= step_form @form_object, html: { class: 'govuk-!-margin-top-8' } do |f| %>
          <%= f.radio_button_fieldset :opted_in, choices: GenericYesNo.values,
                                      legend_options: { page_heading: false, visually_hidden: false, size: 'm' } %>
          <%= f.continue_button %>
        <% end %>
      </div>
    </div>

  </main>
</div>
