<% title t('.page_title') %>
<%= step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>
    <%= render 'step_subsection', step_subsection: @form_object.conviction_subtype %>

    <h1 class="govuk-heading-xl">
      <%=t ".heading.#{@form_object.conviction_subtype}", default: t('.heading.default') %>
    </h1>

    <%=t ".explanation.#{@form_object.conviction_subtype}_html", default: '' %>

    <%= step_form @form_object do |f| %>
        <%= f.govuk_text_field :conviction_length,
                       label: { text: f.i18n_legend },
                       width: 3, pattern: "[0-9]*", inputmode: "numeric" %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
