<% title t('.page_title') %>

<div class="govuk-width-container">
  <%= step_header %>

  <main id="main-content" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= error_summary %>

        <!-- The header is part of the text_field label -->

        <%= step_form @form_object do |f| %>
          <%= f.text_field :conviction_length,
                           input_options: { class: 'govuk-input--width-4' },
                           hint_options: { virtual_attribute: @form_object.conviction_length_type }
          %>

          <%= f.continue_button %>
        <% end %>
      </div>
    </div>

  </main>
</div>
