<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <p class="govuk-body"><%=t '.lead_text' %></p>
    <p class="govuk-body">
      <% if multiples_enabled? %>
        <%= link_to t('.check_answers_page'), steps_check_check_your_answers_path, class: 'govuk-link govuk-link--no-visited-state' %>
      <% else %>
        <%= link_to t('.results_page'), steps_check_results_path, class: 'govuk-link govuk-link--no-visited-state' %>
      <% end %>
    </p>

    <%= link_button :start_again, root_path %>
  </div>
</div>
