<% title t('.page_title') %>

<div class="govuk-width-container">
  <%= step_header %>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"><%=t '.heading' %></h1>

        <%= step_form @form_object do |f| %>
          <%= f.radio_button_fieldset :kind, choices: Steps::Check::KindForm.choices,
                                      legend_options: { class: 'visually-hidden' } %>

          <%= f.continue_button %>
        <% end %>
      </div>
    </div>

  </main>
</div>
