<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_date_field :compensation_payment_date,
          form_group: { classes: 'app-util--compact-form-group' },
          caption: { text: f.i18n_caption } do
        tag.p t('.lead_text'), class: 'govuk-body-m'
      end %>

      <%= render partial: 'steps/shared/approx_date_checkbox', locals: {
        form: f, attribute: :approximate_compensation_payment_date
      } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
