<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <span class="govuk-caption-xl">
      <%= t @form_object.conviction_subtype, scope: [:shared, :subsection], default: '' %>
    </span>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :compensation_paid, GenericYesNo.values, :value, nil %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
