<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= error_summary %>
    <%= step_subsection %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :compensation_receipt_sent, GenericYesNo.values, :value, nil, inline: true %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
