<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_date_field :known_date, form_group: { classes: 'app-util--compact-form-group' },
            legend: { text: f.i18n_legend },
            caption: { text: f.i18n_caption } do
        tag.p f.i18n_lead_text, class: 'govuk-body-m'
      end %>

      <%= render partial: 'steps/shared/approx_date_checkbox', locals: {
        form: f, attribute: :approximate_known_date
      } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
