<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_date_field :conviction_date, form_group: { classes: 'app-util--compact-form-group' } do
        tag.p t('.lead_text'), class: 'govuk-body-m'
      end %>

      <%= render partial: 'steps/shared/approx_date_checkbox', locals: {
        form: f, attribute: :approximate_conviction_date
      } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
