<% content_for?(:page_title) ? yield(:page_title) : fallback_title %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<% content_for(:header_class) do %>with-proposition<% end %>

<% content_for(:proposition_header) do %>
  <div class="header-proposition">
    <div class="content">
      <nav id="proposition-menu">
        <%= link_to service_name, '/', id: 'proposition-name', class: 'ga-pageLink', data: {ga_category: 'header', ga_label: 'service name'} %>
      </nav>
    </div>
  </div>
<% end %>

<% content_for(:content) do %>
  <main id="content" role="main">
    <%= render partial: 'layouts/phase_banner' %>
    <%= yield %>
  </main>
<% end %>
  
<% content_for(:footer_support_links) do %>
  <% render partial: 'layouts/footer_links' %>
<% end %>

<%= render file: 'layouts/govuk_template' %>
